.add-friend-btn {
  padding: 8px 16px;
  background: #fefefe;
  line-height: 1em;
  border: solid 1px #aaa;
  border-radius: 25px;
  position: fixed;
  z-index: 50;
  right: 25px;
  bottom: 25px;
  font-size: 0.875rem;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: all 0.25s linear;
  opacity: 0.75;

  span {
    font-weight: bold;
    font-size: 1.125rem;
  }

  &:hover {
    color: white;
    background: rgb(36, 139, 36);
    border-color: rgb(0, 199, 0);
    opacity: 1;
  }
}

.form-container {
  width: 100vw;
  height: 100vh;
  margin-top: -20px;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 100;
  transition: left 2s ease-in;
  left: -100%;
  
  &.hide {
    left: 0;
    animation: slideout 0.5s ease-in-out forwards;
  }
  
  &.show {
    left: 0;
    animation: slidein 0.5s ease-in-out forwards;
  }

  @keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
      display: block;
    }
  }

  @keyframes slideout {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      z-index: -1;
      display: none;
    }
  }
}

.friend-form {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 50px auto 20px;
  padding: 20px;
  background: white;
  border: solid 1px #ccc;
  border-radius: 6px;
  position: relative;

  .close {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover {
      opacity: 0.5;
    }
  }

  h2 {
    margin-top: 0;
  }

  dl {
    margin: 0;

    dt {
      padding-bottom: 10px;
    }

    dd {
      margin-left: 0;
    }

    dt.half, dd.half {
      width: 50%;
      display: inline-block;
    }
  }

  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    margin: 14px auto;
    padding: 0 12px;
    font-size: 1rem;
    line-height: 2.75em;
    border-radius: 4px;
    border: solid 1px #ccc;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    width: 100%;
    margin-top: 12px;
    padding: 10px 20px;
    background: white;
    color: orange;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1em;
    border: solid 2px orange;
    border-radius: 4px;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: orange;
      color: white;
    }
  }
}