.friend-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 6px;

  h2 {
    margin-top: 0;
  }

  input {
    width: 100%;
    margin: 14px auto;
    padding: 0 12px;
    font-size: 1rem;
    line-height: 2.75em;
    border-radius: 4px;
    border: solid 1px #ccc;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    width: 100%;
    margin-top: 12px;
    padding: 10px 20px;
    background: white;
    color: orange;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1em;
    border: solid 2px orange;
    border-radius: 4px;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: orange;
      color: white;
    }
  }
}

.friends-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.friend-card {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 6px;

  @media screen and (min-width: 640px) {
    $margin-size: 20px;

    width: calc(50% - #{$margin-size / 2});

    &:nth-child(2n+1) {
      margin-right: $margin-size;
    }
  }

  dl {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;

    dd, dt {
      width: 50%;
      margin: 0;
      line-height: 1.5em;
    }

    dd {
      padding-right: 4px;
      text-align: right;
      font-weight: bold;
    }

    dt {
      padding-left: 4px;
      text-align: left;
    }

    dd:nth-child(n+5), dt:nth-child(n+5) {
      width: 100%;
      text-align: center;
    }

    dd:nth-child(5) {
      margin-top: 10px;
    }
  }
}