.friend-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 6px;

  h2 {
    margin-top: 0;
  }

  dl {
    margin: 0;

    dt {
      height: 0;
    }

    dd {
      margin-left: 0;
    }
  }

  label {
    visibility: hidden;
  }

  input {
    width: 100%;
    margin: 14px auto;
    padding: 0 12px;
    font-size: 1rem;
    line-height: 2.75em;
    border-radius: 4px;
    border: solid 1px #ccc;

    &:first-child {
      margin-top: 0;
    }
  }

  button {
    width: 100%;
    margin-top: 12px;
    padding: 10px 20px;
    background: white;
    color: orange;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1em;
    border: solid 2px orange;
    border-radius: 4px;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: orange;
      color: white;
    }
  }
}